/*------------------------------------------------------------------
[Master Stylesheet]
Theme Name:
Version:        1.0.0
Author:         themexriver
URL:            http://themeforest.net/user/themexriver
-------------------------------------------------------------------*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
#0.1	Theme Reset Style
#0.2	Global Elements
#0.3	header
#0.4	hero-slider
#0.5	footer
#0.6	wedding-couple-section
#0.7	count-down-section
#0.8	story-section
#0.9	cta
#1.0	events-section
#1.1	inportant-people-section
#1.2	gallery-section
#1.3	rsvp-section
#1.4	getting-there-section
#1.5	gift-registration-section

----------------------------------------------------------------*/
/*---------------------------
	Fonts
----------------------------*/
@import url("https://fonts.googleapis.com/css?family=Dosis:400,600,700|Great+Vibes");
@font-face {
  font-family: "Snow White";
  src: url("../fonts/SnowWhite.otf");
}
@font-face {
  font-family: "Snow White Monoline";
  src: url("../fonts/SnowWhiteMonoline.otf");
}
/*--------------------------------------------------------------
#0.1    Theme Reset Style
--------------------------------------------------------------*/
html {
  font-size: 18px;
}

body {
  font-family: "Dosis", sans-serif;
  background-color: #fff;
  font-size: 18px;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

@media (max-width: 1199px) {
  body {
    font-size: 17px;
    font-style: 0.94444rem;
  }
}

@media (max-width: 991px) {
  body {
    font-size: 16px;
    font-style: 0.88889rem;
  }
}

p {
  color: #767878;
  line-height: 1.8em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #6e6e6e;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover,
a:focus {
  text-decoration: none;
}

/*--------------------------------------------------------------
#0.2    Global Elements
--------------------------------------------------------------*/
.page-wrapper {
  position: relative;
  overflow: hidden;
}

.wow {
  visibility: hidden;
}

.fi:before {
  margin: 0;
}

.section-padding {
  padding: 120px 0;
}

@media (max-width: 1199px) {
  .section-padding {
    padding: 100px 0;
  }
}

@media (max-width: 991px) {
  .section-padding {
    padding: 80px 0;
  }
}

/** for popup image ***/
.mfp-wrap {
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 99999;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.mfp-iframe-holder {
  background: #1a1a1a;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

/*** for fancybox video ***/
.fancybox-overlay {
  background: rgba(0, 0, 0, 0.9);
  z-index: 9999 !important;
}

.fancybox-wrap {
  z-index: 99999 !important;
}

/*** validate rsvp form ***/
.validate-rsvp-form .success-error-message {
  margin: 15px 0 0;
}

.validate-rsvp-form label.error {
  color: red;
  margin: 5px 0 0 0;
}

.validate-rsvp-form #loader {
  display: none;
}

.validate-rsvp-form #loader i {
  font-size: 20px;
  color: #fff;
}

.validate-rsvp-form #success,
.validate-rsvp-form #error {
  width: 100%;
  color: #fff;
  padding: 5px 10px;
  font-size: 16px;
  text-align: center;
  display: none;
}

@media (max-width: 767px) {
  .validate-rsvp-form #success,
  .validate-rsvp-form #error {
    font-size: 15px;
  }
}

.validate-rsvp-form #success {
  background-color: green;
  margin-bottom: 5px;
}

.validate-rsvp-form #error {
  background-color: red;
}

/*** music box ***/
.music-box {
  position: fixed;
  width: 300px;
  height: 160px;
  z-index: 120;
  bottom: 30px;
  right: 30px;
}

@media (max-width: 991px) {
  .music-box {
    width: 250px;
    height: 120px;
    right: auto;
    left: 30px;
  }
}

.music-box .music-holder {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: -30px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.music-box .music-holder iframe {
  width: 100%;
  height: 100%;
}

.music-box button {
  background: rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  line-height: 37px;
  font-size: 18px;
  font-size: 1rem;
  color: #5e9a8e;
  border: 1px solid #e6e6e6;
  outline: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

@media (max-width: 991px) {
  .music-box button {
    right: auto;
    left: 0;
  }
}

.music-box .toggle-music-box {
  top: -50px;
  visibility: visible;
  opacity: 1;
}

/*** scrollbar style for chrome ***/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ccc;
}

::-webkit-scrollbar-thumb {
  background-color: #5e9a8e;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

/*** spirit-header ***/
.spirit-header {
  position: relative;
  z-index: 100;
}

.ripple,
.particleground,
.video-player,
.surface-shader {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
}

.video-player:before {
  content: "";
  background-color: rgba(94, 154, 142, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
}

.section-title, .section-title-white {
  text-align: center;
  margin-bottom: 60px;
  position: relative;
}

@media (max-width: 767px) {
  .section-title, .section-title-white {
    margin-bottom: 50px;
  }
}

.section-title .vertical-line, .section-title-white .vertical-line {
  width: 18px;
  height: 42px;
  top: 0;
}

@media (max-width: 991px) {
  .section-title .vertical-line, .section-title-white .vertical-line {
    height: 35px;
  }
}

.section-title .vertical-line, .section-title-white .vertical-line,
.section-title .vertical-line span, .section-title-white .vertical-line span {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.section-title .vertical-line span, .section-title-white .vertical-line span {
  background: rgba(94, 154, 142, 0.2);
  width: 2px;
  height: 42px;
  top: 17px;
}

@media (max-width: 991px) {
  .section-title .vertical-line span, .section-title-white .vertical-line span {
    height: 35px;
  }
}

@media (max-width: 767px) {
  .section-title .vertical-line span, .section-title-white .vertical-line span {
    height: 30px;
    top: 15px;
  }
}

.section-title .vertical-line span i, .section-title-white .vertical-line span i {
  position: absolute;
  left: -34px;
  top: -63px;
}

@media (max-width: 991px) {
  .section-title .vertical-line span i, .section-title-white .vertical-line span i {
    left: -28px;
    top: -54px;
  }
}

.section-title .vertical-line span i:before, .section-title-white .vertical-line span i:before {
  margin: 0;
  font-size: 65px;
  font-size: 3.61111rem;
  color: #5e9a8e;
  opacity: 0.6;
}

@media (max-width: 991px) {
  .section-title .vertical-line span i:before, .section-title-white .vertical-line span i:before {
    font-size: 55px;
    font-size: 3.05556rem;
  }
}

.section-title .vertical-line:before, .section-title-white .vertical-line:before {
  content: "";
  background: rgba(94, 154, 142, 0.2);
  width: 45px;
  height: 2px;
  top: 16px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media (max-width: 991px) {
  .section-title .vertical-line:before, .section-title-white .vertical-line:before {
    width: 40px;
    height: 2px;
  }
}

.section-title h2, .section-title-white h2 {
  font-family: "Great Vibes", cursive;
  background-color: rgba(94, 154, 142, 0.1);
  font-size: 46px;
  font-size: 2.55556rem;
  color: #848383;
  margin: 59px 0 0;
  padding: 10px 25px 5px;
  border-top: 2px solid rgba(94, 154, 142, 0.1);
  border-bottom: 2px solid rgba(94, 154, 142, 0.1);
  display: inline-block;
  text-transform: capitalize;
  letter-spacing: 3px;
}

@media (max-width: 1199px) {
  .section-title h2, .section-title-white h2 {
    font-size: 40px;
    font-size: 2.22222rem;
  }
}

@media (max-width: 991px) {
  .section-title h2, .section-title-white h2 {
    font-size: 35px;
    font-size: 1.94444rem;
    margin-top: 52px;
  }
}

@media (max-width: 767px) {
  .section-title h2, .section-title-white h2 {
    font-size: 30px;
    font-size: 1.66667rem;
    padding: 8px 10px 3px;
    letter-spacing: 1px;
  }
}

@media (max-width: 767px) {
  .section-title h2, .section-title-white h2 {
    margin-top: 45px;
  }
}

.section-title-white .vertical-line span {
  background: rgba(255, 255, 255, 0.2);
}

.section-title-white .vertical-line span i:before {
  margin: 0;
  font-size: 65px;
  color: #fff;
  opacity: 0.4;
}

.section-title-white .vertical-line:before, .section-title-white .vertical-line:after {
  background: rgba(255, 255, 255, 0.2);
}

.section-title-white .vertical-line:after {
  background: #fff;
}

.section-title-white h2 {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.theme-btn {
  background-color: #5e9a8e;
  line-height: 0.66em;
  color: #fff;
  padding: 15px;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  text-transform: uppercase;
}

.theme-btn:hover, .theme-btn:focus, .theme-btn:active {
  background-color: #548a7f;
  color: #fff;
}

@media (max-width: 767px) {
  .theme-btn {
    padding: 12px;
    font-size: 13px;
  }
}

.form input,
.form textarea,
.form select {
  border-color: #bfbfbf;
  border-radius: 0;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #595959;
}

.form input:focus,
.form textarea:focus,
.form select:focus {
  border-color: #5e9a8e;
  -webkit-box-shadow: 0 0 5px 0 #7cafa5;
  -moz-box-shadow: 0 0 5px 0 #7cafa5;
  -o-box-shadow: 0 0 5px 0 #7cafa5;
  -ms-box-shadow: 0 0 5px 0 #7cafa5;
  box-shadow: 0 0 5px 0 #7cafa5;
}

.form ::-webkit-input-placeholder {
  font-style: 18px;
  font-style: italic;
  color: #595959;
}

.form :-moz-placeholder {
  font-style: 18px;
  font-style: italic;
  color: #595959;
}

.form ::-moz-placeholder {
  font-style: 18px;
  font-style: italic;
  color: #595959;
}

.form :-ms-input-placeholder {
  font-style: 18px;
  font-style: italic;
  color: #595959;
}

.form select {
  background: url(../images/select-icon.png) no-repeat right center;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  cursor: pointer;
}

.form select::-ms-expand {
  /* for IE 11 */
  display: none;
}

.social-links {
  overflow: hidden;
}

.social-links li {
  float: left;
}

.social-links li a {
  display: block;
  color: #fff;
  text-align: center;
}

.social-links li a:hover {
  background-color: #5e9a8e;
}

.page-title {
  background: url("../images/page-title.jpg") center center/cover no-repeat local;
  height: 300px;
  text-align: center;
  position: relative;
  display: table;
  width: 100%;
}

@media (max-width: 1199px) {
  .page-title {
    height: 250px;
  }
}

.page-title:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.page-title .container {
  width: 100%;
  vertical-align: middle;
  display: table-cell;
}

.page-title h2,
.page-title ol {
  color: #fff;
}

.page-title h2 {
  font-size: 55px;
  font-size: 3.05556rem;
  font-weight: 600;
  margin: 0 0 0.5em;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .page-title h2 {
    font-size: 45px;
    font-size: 2.5rem;
  }
}

@media (max-width: 767px) {
  .page-title h2 {
    font-size: 40px;
    font-size: 2.22222rem;
  }
}

.page-title .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin: 0;
  text-align: center;
}

.page-title .breadcrumb a {
  color: #fff;
}

.page-title .breadcrumb ul {
  display: inline-block;
}

.page-title .breadcrumb ul li {
  font-size: 18px;
  font-size: 1rem;
  color: #5e9a8e;
  float: left;
  position: relative;
}

@media (max-width: 1199px) {
  .page-title .breadcrumb ul li {
    font-size: 16px;
    font-size: 0.88889rem;
  }
}

.page-title .breadcrumb ul > li + li {
  padding-left: 20px;
  margin-left: 20px;
}

@media (max-width: 1199px) {
  .page-title .breadcrumb ul > li + li {
    padding-left: 15px;
    margin-left: 15px;
  }
}

.page-title .breadcrumb ul > li + li:before {
  content: "/";
  position: absolute;
  left: -5px;
  top: 2px;
  color: #fff;
}

.preloader {
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}

.preloader .inner {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.preloader .icon {
  display: block;
  width: 90px;
  height: 90px;
  position: relative;
}

.preloader .icon:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border: 5px solid #f1f1f1;
  border-top: 5px solid #5e9a8e;
  border-radius: 50%;
  -webkit-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite;
}

.preloader .icon i {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.preloader .icon i:before {
  font-size: 55px;
  font-size: 3.05556rem;
  color: #5e9a8e;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate3d(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate3d(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*sidebar*/
.blog-sidebar {
  background-color: #fff;
  padding: 0 25px 0 75px;
  /*search-widget*/
  /*categories-widget*/
  /*popular-posts-widget*/
  /*popular-tags*/
}

@media (max-width: 1199px) {
  .blog-sidebar {
    padding: 0 0 0 35px;
  }
}

@media (max-width: 991px) {
  .blog-sidebar {
    max-width: 450px;
    padding: 0 15px;
    margin-top: 80px;
  }
}

@media (max-width: 767px) {
  .blog-sidebar {
    margin-top: 70px;
  }
}

.blog-sidebar .widget {
  margin-bottom: 50px;
}

.blog-sidebar .widget:last-child {
  margin-bottom: 0;
}

.blog-sidebar .widget h3 {
  font-size: 18px;
  font-size: 1rem;
  font-weight: 600;
  color: #3e3e3e;
  line-height: 0.86em;
  text-transform: uppercase;
  margin: 0 0 1.42em;
}

.blog-sidebar .widget input {
  border: 1px solid #dcdddd;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-right: 50px;
}

.blog-sidebar .search-widget form {
  position: relative;
}

.blog-sidebar .search-widget button {
  background-color: transparent;
  position: absolute;
  right: 1px;
  top: 1px;
  border: 0;
  border-radius: 0;
}

.blog-sidebar .search-widget button:hover,
.blog-sidebar .blog-sidebar .search-widget button:focus {
  background-color: transparent;
  border: 0;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.blog-sidebar .search-widget button i {
  color: #858686;
}

.blog-sidebar .categories-widget ul li {
  border-bottom: 1px solid #dcdddd;
}

.blog-sidebar .categories-widget ul li a {
  font-size: 16px;
  font-size: clac-rem-value(16);
  display: block;
  color: #777778;
  padding: 5px 0 5px 25px;
  position: relative;
}

.blog-sidebar .categories-widget ul li:first-child a {
  padding-top: 0;
}

.blog-sidebar .categories-widget ul li a:before {
  font-family: FontAwesome;
  content: "\f105";
  color: #182a4d;
  position: absolute;
  left: 2px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.blog-sidebar .categories-widget ul li a:hover:before {
  color: #5e9a8e;
}

.blog-sidebar .categories-widget ul li a:hover {
  color: #5e9a8e;
}

.blog-sidebar .popular-posts-widget li {
  overflow: hidden;
  margin-bottom: 20px;
}

.blog-sidebar .popular-posts-widget li:last-child {
  margin-bottom: 0;
}

.blog-sidebar .popular-posts-widget .date {
  font-size: 16px;
  font-size: 0.88889rem;
  font-weight: 600;
  color: #5e9a8e;
  display: inline-block;
  margin-bottom: 5px;
}

.blog-sidebar .popular-posts-widget h6 {
  font-size: 16px;
  font-size: clac-rem-value(16);
  margin: 0;
  line-height: 1.7em;
}

.blog-sidebar .popular-posts-widget h6 a {
  color: #2f2f2f;
}

.blog-sidebar .popular-posts-widget h6 a:hover {
  color: #4b7a71;
}

.blog-sidebar .populer-tags-widget ul {
  overflow: hidden;
}

.blog-sidebar .populer-tags-widget ul li {
  float: left;
}

.blog-sidebar .populer-tags-widget ul li a {
  background-color: rgba(94, 154, 142, 0.1);
  display: block;
  font-size: 13px;
  font-size: 0.72222rem;
  color: #777778;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 10px 5px 25px;
  border: 1px solid rgba(94, 154, 142, 0.2);
  margin: 0 5px 5px 0;
  position: relative;
}

.blog-sidebar .populer-tags-widget ul li a:before {
  font-family: FontAwesome;
  content: "\f02b";
  font-size: 13px;
  color: rgba(94, 154, 142, 0.3);
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

.blog-sidebar .populer-tags-widget ul li a:hover {
  background-color: #5e9a8e;
  color: #fff;
  border-color: #5e9a8e;
}

.blog-sidebar .populer-tags-widget ul li a:hover:before {
  color: #fff;
}

.page-pagination .pagination {
  margin: 0;
}

@media (max-width: 767px) {
  .page-pagination .pagination {
    margin-top: -20px;
  }
}

.page-pagination .pagination li a {
  width: 40px;
  height: 40px;
  line-height: 37px;
  font-size: 16px;
  font-size: 0.88889rem;
  font-weight: 600;
  text-align: center;
  color: #565656;
  border-radius: 0;
  border: 1px solid #5e9a8e;
  padding: 0;
  margin: 2px;
  position: relative;
}

@media (max-width: 991px) {
  .page-pagination .pagination li a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    font-size: 0.83333rem;
  }
}

.page-pagination .pagination li a span {
  font-size: 14px;
  font-size: 0.77778rem;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 991px) {
  .page-pagination .pagination li a span {
    font-size: 13px;
    font-size: 0.72222rem;
  }
}

.page-pagination .pagination li a:hover,
.page-pagination .pagination li a:focus,
.page-pagination .pagination li.current a {
  background-color: #5e9a8e;
  color: #fff;
}

/*--------------------------------------------------------------
#0.3	header
--------------------------------------------------------------*/
.site-header {
  /* navigation open and close btn hide for width screen */
  /* style for navigation less than 992px */
  /*navbar collaps less then 992px*/
}

.site-header .navigation {
  background-color: #fff;
  margin-bottom: 0;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.site-header .navigation > .container {
  position: relative;
}

.site-header #navbar {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  /*** mega-menu style ***/
}

.site-header #navbar > ul li a:hover {
  text-decoration: none;
  color: #5e9a8e;
}

@media screen and (min-width: 992px) {
  .site-header #navbar {
    /*** hover effect ***/
  }
  .site-header #navbar li {
    position: relative;
  }
  .site-header #navbar > ul > li > a {
    font-size: 16px;
    font-size: 0.88889rem;
  }
  .site-header #navbar > ul .sub-menu {
    background-color: #fff;
    width: 220px;
    border-top: 2px solid #5e9a8e;
    position: absolute;
    left: 0;
    top: 130%;
    z-index: 110;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
  }
  .site-header #navbar > ul > li .sub-menu li {
    border-bottom: 1px solid #e6e6e6;
  }
  .site-header #navbar > ul > li .sub-menu a {
    font-size: 14px;
    font-size: 0.77778rem;
    display: block;
    padding: 8px 15px;
  }
  .site-header #navbar > ul > li > .sub-menu .sub-menu {
    left: 110%;
    top: 0;
  }
  .site-header #navbar > ul > li > .sub-menu > .menu-item-has-children > a {
    position: relative;
  }
  .site-header #navbar > ul > li > .sub-menu > .menu-item-has-children > a:before {
    font-family: "FontAwesome";
    content: "\f105";
    font-size: 15px;
    font-size: 0.83333rem;
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .site-header #navbar > ul > li:hover > .sub-menu {
    top: 100%;
    visibility: visible;
    opacity: 1;
  }
  .site-header #navbar .sub-menu > li:hover > .sub-menu {
    left: 100%;
    visibility: visible;
    opacity: 1;
  }
}

@media (max-width: 991px) {
  .site-header #navbar > ul > li a {
    display: block;
    font-size: 14px;
    font-size: 0.77778rem;
  }
  .site-header #navbar > ul > li .sub-menu li {
    border-bottom: 1px solid #e6e6e6;
  }
  .site-header #navbar > ul .sub-menu > li:last-child {
    border-bottom: 0;
  }
  .site-header #navbar > ul > li > .sub-menu a {
    padding: 8px 15px 8px 45px;
  }
  .site-header #navbar > ul > li > .sub-menu .sub-menu a {
    padding: 8px 15px 8px 65px;
  }
  .site-header #navbar > ul .menu-item-has-children > a {
    position: relative;
  }
  .site-header #navbar > ul .menu-item-has-children > a:before {
    font-family: "FontAwesome";
    content: "\f107";
    font-size: 15px;
    font-size: 0.83333rem;
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

@media screen and (min-width: 992px) {
  .site-header #navbar {
    /*** hover effect ***/
  }
  .site-header #navbar .has-mega-menu {
    position: static;
  }
  .site-header #navbar .mega-menu,
  .site-header #navbar .half-mega-menu {
    background-color: #fff;
    padding: 20px;
    border-top: 2px solid #5e9a8e;
    position: absolute;
    right: 0;
    top: 120%;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
  }
  .site-header #navbar .mega-menu {
    width: 1140px;
    right: 15px;
  }
  .site-header #navbar .half-mega-menu {
    width: 585px;
  }
  .site-header #navbar .mega-menu-box-title {
    font-size: 14px;
    font-size: 0.77778rem;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: 1px solid #e6e6e6;
  }
  .site-header #navbar .mega-menu-list-holder li a {
    font-size: 14px;
    font-size: 0.77778rem;
    display: block;
    padding: 7px 8px;
    margin-left: -8px;
  }
  .site-header #navbar .has-mega-menu:hover > ul {
    top: 100%;
    visibility: visible;
    opacity: 1;
  }
}

@media (max-width: 1199px) {
  .site-header #navbar > ul .mega-menu {
    width: 950px;
    right: 15px;
  }
  .site-header #navbar > ul .half-mega-menu {
    width: 485px;
  }
}

@media (max-width: 991px) {
  .site-header #navbar > ul .mega-menu,
  .site-header #navbar > ul .half-mega-menu {
    width: auto;
  }
  .site-header #navbar > ul .mega-menu .row,
  .site-header #navbar > ul .half-mega-menu .row {
    margin: 0;
  }
  .site-header #navbar .mega-menu-content > .row > .col {
    margin-bottom: 25px;
  }
}

@media (max-width: 991px) {
  .site-header #navbar .mega-menu .mega-menu-list-holder a {
    padding: 5px 15px 5px 40px;
  }
  .site-header #navbar .mega-menu .mega-menu-box-title {
    font-size: 14px;
    font-size: 0.77778rem;
    text-transform: uppercase;
    display: block;
    border-bottom: 1px dotted #b3b3b3;
    padding: 0 0 4px 5px;
    margin: 0 25px 8px 25px;
  }
}

@media screen and (min-width: 992px) {
  .site-header .navbar-header .open-btn {
    display: none;
  }
  .site-header #navbar .close-navbar {
    display: none;
  }
}

@media (max-width: 991px) {
  .site-header {
    /* class for show hide navigation */
  }
  .site-header .container {
    width: 100%;
  }
  .site-header .navbar-header button {
    background-color: #5e9a8e;
    width: 40px;
    height: 35px;
    border: 0;
    padding: 5px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    outline: 0;
    position: absolute;
    right: 15px;
    top: 6px;
    z-index: 20;
  }
  .site-header .navbar-header button span {
    background-color: #fff;
    display: block;
    height: 2px;
    margin-bottom: 5px;
  }
  .site-header .navbar-header button span:last-child {
    margin: 0;
  }
  .site-header #navbar {
    background: #fff;
    display: block !important;
    width: 280px;
    height: 100% !important;
    margin: 0;
    padding: 0;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    position: fixed;
    right: -300px;
    top: 0;
    z-index: 99999999;
  }
  .site-header #navbar ul a {
    color: #000;
  }
  .site-header #navbar ul a:hover,
  .site-header #navbar ul li.current a {
    color: #5e9a8e;
  }
  .site-header #navbar .navbar-nav {
    height: 100%;
    overflow: auto;
  }
  .site-header #navbar .close-navbar {
    background-color: #5e9a8e;
    width: 35px;
    height: 35px;
    color: #fff;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    outline: none;
    position: absolute;
    left: -18px;
    top: 10px;
    z-index: 20;
  }
  .site-header #navbar > ul > li {
    border-bottom: 1px solid #cccccc;
  }
  .site-header #navbar > ul > li > a {
    padding: 10px 15px 10px 35px;
  }
  .site-header .slideInn {
    right: 0 !important;
  }
}

@media (max-width: 767px) {
  .site-header .navbar-header .navbar-brand {
    font-size: 24px;
  }
  .site-header #navbar .navbar-nav {
    margin: 0;
  }
}

@media (max-width: 991px) {
  .site-header .navbar-collapse.collapse {
    display: none;
  }
  .site-header .navbar-collapse.collapse.in {
    display: block;
  }
  .site-header .navbar-header .collapse,
  .site-header .navbar-toggle {
    display: block;
  }
  .site-header .navbar-header {
    float: none;
  }
  .site-header .navbar-right {
    float: none;
  }
  .site-header .navbar-nav {
    float: none;
  }
  .site-header .navbar-nav > li {
    float: none;
  }
}

/*** header style 1 ****/
.header-style-1 .couple-logo, .header-style-2 .couple-logo {
  margin-top: 30px;
}

@media (max-width: 991px) {
  .header-style-1 .couple-logo, .header-style-2 .couple-logo {
    margin-top: 0;
  }
}

.header-style-1 .couple-logo h1, .header-style-2 .couple-logo h1 {
  font-family: "Snow White Monoline", cursive;
  font-size: 35px;
  font-size: 1.94444rem;
  margin: 0;
  text-shadow: 1px 1px 2px #999999;
}

@media (max-width: 991px) {
  .header-style-1 .couple-logo h1, .header-style-2 .couple-logo h1 {
    font-size: 30px;
    font-size: 1.66667rem;
  }
}

.header-style-1 .couple-logo .fi:before, .header-style-2 .couple-logo .fi:before {
  font-size: 25px;
  font-size: 1.38889rem;
}

@media (max-width: 991px) {
  .header-style-1 .couple-logo .fi:before, .header-style-2 .couple-logo .fi:before {
    font-size: 20px;
    font-size: 1.11111rem;
  }
}

.header-style-1 .couple-logo a, .header-style-2 .couple-logo a {
  color: #5e9a8e;
}

.header-style-1 .navigation, .header-style-2 .navigation {
  border-bottom: 1px solid #ececec;
}

.header-style-1 .navigation:after, .header-style-2 .navigation:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #ececec;
  position: absolute;
  bottom: 2px;
}

@media (max-width: 991px) {
  .header-style-1 .navigation, .header-style-2 .navigation {
    padding: 15px;
  }
}

.header-style-1 #navbar ul li.current-menu-item > a, .header-style-2 #navbar ul li.current-menu-item > a,
.header-style-1 #navbar ul > li.current-menu-ancestor li.current-menu-item > a, .header-style-2 #navbar ul > li.current-menu-ancestor li.current-menu-item > a,
.header-style-1 #navbar ul > li.current-menu-ancestor > a, .header-style-2 #navbar ul > li.current-menu-ancestor > a {
  color: #5e9a8e;
}

@media screen and (min-width: 992px) {
  .header-style-1 #navbar > ul > li > a, .header-style-2 #navbar > ul > li > a {
    font-size: 18px;
    font-size: 1rem;
    font-weight: 600;
    color: #413d3d;
    padding: 35px 17px;
    text-transform: uppercase;
  }
  .header-style-1 #navbar > ul .sub-menu, .header-style-2 #navbar > ul .sub-menu {
    -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .header-style-1 #navbar > ul > li .sub-menu a, .header-style-2 #navbar > ul > li .sub-menu a {
    font-size: 16px;
    font-size: 0.88889rem;
    color: #413d3d;
    padding: 10px 15px;
  }
  .header-style-1 #navbar > ul > li .sub-menu a:hover, .header-style-2 #navbar > ul > li .sub-menu a:hover {
    color: #5e9a8e;
  }
  .header-style-1 #navbar > ul > li:last-child > ul, .header-style-2 #navbar > ul > li:last-child > ul {
    left: auto;
    right: 0;
  }
  .header-style-1 #navbar > ul > li:last-child > .sub-menu .sub-menu, .header-style-2 #navbar > ul > li:last-child > .sub-menu .sub-menu {
    left: auto;
    right: 100%;
  }
}

@media (max-width: 991px) {
  .header-style-1 .navbar-header button, .header-style-2 .navbar-header button {
    top: -2px;
    right: 0;
  }
}

/*** header style 2 ****/
/*--------------------------------------------------------------
#0.4	hero slider
--------------------------------------------------------------*/
.hero {
  position: relative;
  height: 100vh;
  /* height: calc(100vh - 90px); */
  /* min-height: 700px; */
  overflow: hidden;
  /** slider controls **/
  /*** arrow hover ***/
}

/* @media (max-width: 1199px) {
  .hero {
    min-height: 600px;
  }
}

@media (max-width: 991px) {
  .hero {
    min-height: 500px;
  }
} */

.hero .slide-item {
  height: 100vh;
  min-height: 700px;
  position: relative;
  background-repeat: no-repeat;
  position: relative;
}

@media (max-width: 1199px) {
  .hero .slide-item {
    min-height: 600px;
  }
}

@media (max-width: 991px) {
  .hero .slide-item {
    min-height: 500px;
  }
}

.hero .slide-item .slider-bg {
  display: none;
}

.hero .slide-item:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.hero .slide-item:focus {
  outline: none;
}

.hero .slide-item .container {
  height: 100%;
  display: table;
}

.hero .slide-item .row {
  display: table-cell;
  vertical-align: middle;
}

.hero .slick-prev,
.hero .slick-next {
  background-color: rgba(94, 154, 142, 0.6);
  width: 50px;
  height: 50px;
  z-index: 111;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 5px rgba(94, 154, 142, 0.9);
  box-shadow: 0 0 0 5px rgba(94, 154, 142, 0.9);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

.hero .slick-prev:hover,
.hero .slick-next:hover {
  background-color: rgba(94, 154, 142, 0.8);
  -webkit-box-shadow: 0 0 0 5px #5e9a8e;
  box-shadow: 0 0 0 5px #5e9a8e;
}

@media (max-width: 1199px) {
  .hero .slick-prev,
  .hero .slick-next {
    width: 45px;
    height: 45px;
    -webkit-box-shadow: 0 0 0 3px rgba(94, 154, 142, 0.9);
    box-shadow: 0 0 0 3px rgba(94, 154, 142, 0.9);
  }
}

@media (max-width: 991px) {
  .hero .slick-prev,
  .hero .slick-next {
    width: 35px;
    height: 35px;
    -webkit-box-shadow: 0 0 0 3px rgba(94, 154, 142, 0.9);
    box-shadow: 0 0 0 3px rgba(94, 154, 142, 0.9);
  }
}

.hero .slick-prev:before,
.hero .slick-next:before {
  font-size: 25px;
  font-size: 1.38889pxrem;
}

@media (max-width: 991px) {
  .hero .slick-prev:before,
  .hero .slick-next:before {
    font-size: 20px;
    font-size: 1.11111pxrem;
  }
}

.hero .slick-prev {
  left: 0;
}

.hero .slick-prev:before {
  font-family: "FontAwesome";
  content: "\f104";
  opacity: 1;
}

.hero .slick-next {
  right: 0;
}

.hero .slick-next:before {
  font-family: "FontAwesome";
  content: "\f105";
  opacity: 1;
}

.hero:hover .slick-prev,
.hero:hover .slick-next {
  opacity: 1;
}

.hero:hover .slick-prev {
  left: 20px;
}

.hero:hover .slick-next {
  right: 20px;
}

.hero .wedding-announcement {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 101;
  text-align: center;
  display: table;
  /*** save the date ***/
  /*** popup save the date circle ***/
}

.hero .wedding-announcement .couple-name-merried-text {
  display: table-cell;
  vertical-align: middle;
}

.hero .wedding-announcement .couple-name-merried-text h2 {
  font-family: "Snow White Monoline", cursive;
  font-size: 90px;
  font-size: 5rem;
  color: #fff;
  margin: 0 0 0.4em;
  position: relative;
  z-index: 10;
}

@media (max-width: 1199px) {
  .hero .wedding-announcement .couple-name-merried-text h2 {
    font-size: 70px;
    font-size: 3.88889rem;
  }
}

@media (max-width: 1199px) {
  .hero .wedding-announcement .couple-name-merried-text img {
    width: 600px;
  }
}

@media (max-width: 991px) {
  .hero .wedding-announcement .couple-name-merried-text h2 {
    font-size: 55px;
    font-size: 3.05556rem;
  }
}

@media (max-width: 991px) {
  .hero .wedding-announcement .couple-name-merried-text img {
    width: 380px;
  }
}

.hero .wedding-announcement .married-text h4 {
  font-size: 26px;
  font-size: 1.44444rem;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  display: inline;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 12px 20px;
  position: relative;
  z-index: 10;
  letter-spacing: 2px;
}

@media (max-width: 1199px) {
  .hero .wedding-announcement .married-text h4 {
    font-size: 20px;
    font-size: 1.11111rem;
    padding: 8px 18px;
  }
}

@media (max-width: 991px) {
  .hero .wedding-announcement .married-text h4 {
    font-size: 17px;
    font-size: 0.94444rem;
    padding: 8px 14px;
  }
}

@media (max-width: 767px) {
  .hero .wedding-announcement .married-text h4 {
    letter-spacing: 1px;
  }
}

.hero .wedding-announcement .couple-name-merried-text h2,
.hero .wedding-announcement .married-text h4 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.hero .wedding-announcement .couple-name-merried-text i {
  font-size: 450px;
  color: rgba(94, 154, 142, 0.7);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hero .wedding-announcement .save-the-date {
  width: 330px;
  height: 330px;
  position: absolute;
  left: 50%;
  bottom: -350px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: 1s 2.3s ease-in-out;
  -o-transition: 1s 2.3s ease-in-out;
  transition: 1s 2.3s ease-in-out;
}

@media (max-width: 1199px) {
  .hero .wedding-announcement .save-the-date {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 991px) {
  .hero .wedding-announcement .save-the-date {
    width: 270px;
    height: 270px;
  }
}

.hero .wedding-announcement .save-the-date:before, .hero .wedding-announcement .save-the-date:after {
  content: "";
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  z-index: -1;
}

.hero .wedding-announcement .save-the-date:before {
  background-color: rgba(94, 154, 142, 0.3);
  width: 110%;
  height: 110%;
  left: -5%;
  top: -5%;
  -webkit-animation: save-the-date-pulse 1s infinite;
  animation: save-the-date-pulse 1s infinite;
}

@media (max-width: 1199px) {
  .hero .wedding-announcement .save-the-date:before {
    width: 108%;
    height: 108%;
    left: -4%;
    top: -4%;
  }
}

.button-open {
  background-color: #51867b;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  font-size: 0.88889rem;
  font-weight: 600;  
  color: #fff;
  padding: 0 15px;
  border: 0;
  outline: 0;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

.hero .wedding-announcement .save-the-date:after {
  background-color: rgba(94, 154, 142, 0.7);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.hero .wedding-announcement .save-the-date h4 {
  font-family: "Great Vibes", cursive;
  font-size: 40px;
  font-size: 2.22222rem;
  color: #fff;
  margin: 55px 0 0.2em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

@media (max-width: 1199px) {
  .hero .wedding-announcement .save-the-date h4 {
    font-size: 35px;
    font-size: 1.94444rem;
    margin: 45px 0 0.15em;
  }
}

@media (max-width: 991px) {
  .hero .wedding-announcement .save-the-date h4 {
    font-size: 28px;
    font-size: 1.55556rem;
    margin: 30px 0 0.15em;
  }
}

.hero .wedding-announcement .save-the-date .date {
  font-size: 20px;
  font-size: 1.11111rem;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

@media (max-width: 1199px) {
  .hero .wedding-announcement .save-the-date .date {
    font-size: 18px;
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  .hero .wedding-announcement .save-the-date .date {
    font-size: 16px;
    font-size: 0.88889rem;
  }
}

.hero .wedding-announcement .popup-save-the-date {
  bottom: -185px;
  opacity: 1;
  z-index: 50;
}

@media (max-width: 1199px) {
  .hero .wedding-announcement .popup-save-the-date {
    bottom: -180px;
  }
}

@media (max-width: 991px) {
  .hero .wedding-announcement .popup-save-the-date {
    bottom: -170px;
  }
}

@-webkit-keyframes save-the-date-pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(0.95, 0.95, 0.95);
    transform: scale3d(0.95, 0.95, 0.95);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes save-the-date-pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(0.95, 0.95, 0.95);
    transform: scale3d(0.95, 0.95, 0.95);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.static-hero {
  background: url("../images/slider/slide-2.jpg") center center/cover no-repeat local;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 50;
}

.static-hero:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.home-shade .static-hero {
  opacity: 0.4;
  z-index: 101;
}

/*--------------------------------------------------------------
#0.5	footer
--------------------------------------------------------------*/
.site-footer {
  background: url("../images/slider/slide-3.jpg") center center/cover no-repeat local;
  text-align: center;
  color: #fff;
  padding: 160px 0;
  position: relative;
}

@media (max-width: 1199px) {
  .site-footer {
    padding: 110px 0;
  }
}

@media (max-width: 991px) {
  .site-footer {
    padding: 90px 0;
  }
}

@media (max-width: 767px) {
  .site-footer {
    padding: 70px 0;
  }
}

.site-footer:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.site-footer p {
  font-size: 1.7rem;
  color: #fff;
  margin: 0 0 0.3em;
  text-transform: capitalize;
  letter-spacing: 5px;
}

@media (max-width: 1199px) {
  .site-footer p {
    font-size: 1.05556rem;
  }
}

@media (max-width: 991px) {
  .site-footer p {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .site-footer h2 {
    font-size: 35px;
    font-size: 1.94444rem;
    letter-spacing: 2px;
  }
}

@media (max-width: 767px) {
  .site-footer h2 + span {
    font-size: 15px;
    font-size: 0.83333rem;
  }
}

.site-footer .back-to-top {
  position: absolute;
  left: 50%;
  top: -25px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.site-footer .back-to-top a {
  display: inline-block;
  background: #fff;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.site-footer .back-to-top a span {
  position: absolute;
  left: 0;
  -webkit-animation: pointerMoving 1.3s infinite;
  animation: pointerMoving 1.3s infinite;
}

.site-footer .back-to-top .fi {
  display: inline-block;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 0;
  left: 11px;
}

.site-footer .back-to-top .fi:before {
  font-size: 27px;
  color: #000;
  text-shadow: 1px 1px 2px #000;
}

@-webkit-keyframes pointerMoving {
  0% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    opacity: 0.5;
  }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    opacity: 0.5;
  }
}

@keyframes pointerMoving {
  0% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    opacity: 0.5;
  }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    opacity: 0.5;
  }
}

.sticky {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  opacity: 0;
}

.sticky-2 {
  width: 100%;
  position: fixed;
  left: 0;
  top: -100px;
  z-index: 9999;
  opacity: 0;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  -ms-transition: all 0.7s;
  transition: all 0.7s;
}

.sticky-on {
  opacity: 1;
  top: 0;
}

/*--------------------------------------------------------------
#0.6	wedding-couple-section
--------------------------------------------------------------*/
.wedding-couple-section .gb {
  overflow: hidden;
}

.wedding-couple-section .gb > div {
  width: 50%;
  float: left;
}

@media (max-width: 991px) {
  .wedding-couple-section .gb > div {
    width: 100%;
    float: none;
  }
}

.wedding-couple-section .img-holder img {
  max-width: 100%;
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 470px) {
  .wedding-couple-section .img-holder img {
    opacity: 1;
    visibility: visible;
  }
}

.wedding-couple-section .details {
  background-color: rgba(94, 154, 142, 0.05);
  padding: 50px 55px;
}

@media screen and (min-width: 992px) {
  .wedding-couple-section .details {
    display: table;
  }
}

@media (max-width: 991px) {
  .wedding-couple-section .details {
    padding: 40px 45px;
  }
}

@media (max-width: 767px) {
  .wedding-couple-section .details {
    padding: 40px 25px;
  }
}

@media screen and (min-width: 992px) {
  .wedding-couple-section .details > .details-inner {
    display: table-cell;
    vertical-align: middle;
  }
}

.wedding-couple-section .details h3 {
  font-size: 26px;
  font-size: 1.44444rem;
  font-weight: 600;
  color: #3e3e3e;
  margin: 0 0 0.7em;
}

@media (max-width: 1199px) {
  .wedding-couple-section .details h3 {
    font-size: 22px;
    font-size: 1.22222rem;
  }
}

@media (max-width: 767px) {
  .wedding-couple-section .details h3 {
    font-size: 20px;
    font-size: 1.11111rem;
  }
}

.wedding-couple-section .details .signature {
  font-family: "Great Vibes", cursive;
  font-size: 28px;
  font-size: 1.55556rem;
  display: block;
  padding-left: 25px;
  margin-top: 15px;
  position: relative;
}

@media (max-width: 1199px) {
  .wedding-couple-section .details .signature {
    font-size: 22px;
    font-size: 1.22222rem;
  }
}

.wedding-couple-section .details .signature:before {
  content: "";
  background-color: #000;
  width: 15px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.wedding-couple-section .details .social-links {
  margin-top: 20px;
}

.wedding-couple-section .details .social-links > li + li {
  margin-left: 3px;
}

.wedding-couple-section .details .social-links a {
  background-color: #7cafa5;
  width: 34px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  font-size: 0.77778rem;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

@media (max-width: 1199px) {
  .wedding-couple-section .details .social-links a {
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 13px;
    font-size: 0.72222rem;
  }
}

.wedding-couple-section .details .social-links a:hover {
  background-color: #5e9a8e;
}

@media screen and (min-width: 992px) {
  .wedding-couple-section .bride {
    text-align: right;
  }
  .wedding-couple-section .bride .signature {
    padding-right: 25px;
  }
  .wedding-couple-section .bride .signature:before {
    left: auto;
    right: 0;
  }
  .wedding-couple-section .bride .social-links {
    display: inline-block;
  }
}

@media (max-width: 991px) {
  .wedding-couple-section .img-holder,
  .wedding-couple-section .details {
    height: auto !important;
  }
  .wedding-couple-section .bride {
    margin-top: 25px;
  }
}

@media (max-width: 470px) {
  .wedding-couple-section .img-holder {
    background: none !important;
  }
}

/*--------------------------------------------------------------
#0.7	count-down-section
--------------------------------------------------------------*/
.count-down-section {
  position: relative;
}

.count-down-section:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.count-down-section h2 {
  font-family: "Great Vibes", cursive;
  font-size: 72px;
  font-size: 4rem;
  color: #fff;
  margin: 0;
}

@media (max-width: 1199px) {
  .count-down-section h2 {
    font-size: 62px;
    font-size: 3.44444rem;
  }
}

@media (max-width: 767px) {
  .count-down-section h2 {
    font-size: 50px;
    font-size: 2.77778rem;
  }
}

.count-down-section h2 > span {
  font-size: 30px;
  font-size: 1.66667rem;
  display: block;
  margin-bottom: 0.6em;
}

@media (max-width: 1199px) {
  .count-down-section h2 > span {
    font-size: 25px;
    font-size: 1.38889rem;
  }
}

@media (max-width: 767px) {
  .count-down-section h2 > span {
    font-size: 20px;
    font-size: 1.11111rem;
  }
}

.count-down-section .count-down-clock {
  margin-top: 13px;
}

@media (max-width: 991px) {
  .count-down-section .count-down-clock {
    margin-top: 35px;
  }
}

.count-down-section #clock {
  color: #5e9a8e;
  overflow: hidden;
}

.count-down-section #clock > div {
  background: rgba(255, 255, 255, 0.9);
  width: 23.5%;
  float: left;
  text-align: center;
  padding: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: 5px solid rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
  .count-down-section #clock > div {
    width: calc(50% - 5px);
  }
}

.count-down-section #clock > div + div {
  margin-left: 2%;
}

@media (max-width: 767px) {
  .count-down-section #clock > div + div {
    margin: 0;
  }
}

.count-down-section #clock > div:nth-child(2),
.count-down-section #clock > div:nth-child(4) {
  margin: 0 0 10px 10px;
}

.count-down-section #clock .box > div {
  font-size: 40px;
  font-size: 2.22222rem;
  font-weight: 600;
  line-height: 1em;
}

@media (max-width: 1199px) {
  .count-down-section #clock .box > div {
    font-size: 35px;
    font-size: 1.94444rem;
  }
}

@media (max-width: 991px) {
  .count-down-section #clock .box > div {
    font-size: 30px;
    font-size: 1.66667rem;
    line-height: 1.3em;
  }
}

.count-down-section #clock .box span {
  font-size: 14px;
  font-size: 0.77778rem;
  text-transform: uppercase;
}

/*--------------------------------------------------------------
#0.8	story-section
--------------------------------------------------------------*/
.story-section .story-timeline {
  position: relative;
}

.story-section .story-timeline:after {
  content: "";
  background: rgba(94, 154, 142, 0.1);
  width: 2px;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media (max-width: 991px) {
  .story-section .story-timeline:after {
    display: none;
  }
}

.story-section .story-timeline > .row {
  position: relative;
}

.story-section .story-timeline > .row .horizontal-line {
  background: rgba(94, 154, 142, 0.1);
  width: 70%;
  height: 1px;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.story-section .story-timeline > .row + .row {
  margin-top: 50px;
  padding-top: 15px;
}

@media (max-width: 991px) {
  .story-section .story-timeline > .row + .row {
    padding-top: 0;
  }
}

.story-section .story-timeline > .row > .col:first-child {
  padding: 0 45px 0 100px;
}

@media (max-width: 1199px) {
  .story-section .story-timeline > .row > .col:first-child {
    padding: 0 45px 0 70px;
  }
}

@media (max-width: 991px) {
  .story-section .story-timeline > .row > .col:first-child {
    padding: 0 15px;
  }
}

.story-section .story-timeline > .row > .col:last-child {
  padding: 0 100px 0 45px;
}

@media (max-width: 1199px) {
  .story-section .story-timeline > .row > .col:last-child {
    padding: 0 70px 0 45px;
  }
}

@media (max-width: 991px) {
  .story-section .story-timeline > .row > .col:last-child {
    padding: 0 15px;
  }
}

@media (max-width: 991px) {
  .story-section .story-timeline .story-text {
    background: rgba(94, 154, 142, 0.05);
    padding: 35px 25px;
  }
}

@media screen and (min-width: 992px) {
  .story-section .story-timeline .right-align-text {
    text-align: right;
  }
}

.story-section .story-timeline .text-holder {
  border-top: 1px solid rgba(94, 154, 142, 0.1);
  padding-top: 45px !important;
  position: relative;
}

@media (max-width: 991px) {
  .story-section .story-timeline .text-holder {
    border: 0;
    padding-top: 0 !important;
  }
}

.story-section .story-timeline .text-holder .heart {
  background-color: #9cc2bb;
  width: 43px;
  height: 43px;
  line-height: 41px;
  text-align: center;
  border: 2px solid rgba(94, 154, 142, 0.5);
  position: absolute;
  left: -22px;
  top: -22px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  z-index: 10;
}

@media (max-width: 991px) {
  .story-section .story-timeline .text-holder .heart {
    display: none;
  }
}

.story-section .story-timeline .text-holder .fa {
  color: #fff;
}

.story-section .story-timeline .right-heart .heart {
  left: auto;
  right: -22px;
}

.story-section .story-timeline h3 {
  font-size: 22px;
  font-size: 1.22222rem;
  font-weight: 600;
  color: #5e9a8e;
  margin: 0 0 0.5em;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .story-section .story-timeline h3 {
    font-size: 20px;
    font-size: 1.11111rem;
  }
}

@media (max-width: 767px) {
  .story-section .story-timeline h3 {
    font-size: 18px;
    font-size: 1rem;
  }
}

.story-section .story-timeline .date {
  font-size: 14px;
  font-size: 0.77778rem;
  font-weight: 600;
  display: block;
  margin-bottom: 15px;
}

.story-section .story-timeline img {
  display: inline-block;
}

.story-section .video-holder {
  position: relative;
}

.story-section .video-holder .video-play-btn {
  background: rgba(255, 255, 255, 0.8);
  width: 60px;
  height: 60px;
  line-height: 57px;
  text-align: center;
  font-size: 25px;
  font-size: 1.38889rem;
  border: 2px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.story-section .video-holder .video-play-btn i {
  color: #5e9a8e;
}

.story-section .story-timeline .story-slider .owl-controls {
  display: none;
}

/*--------------------------------------------------------------
#0.9	cta
--------------------------------------------------------------*/
.cta {
  position: relative;
  text-align: center;
}

.cta:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.55);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.cta h2 {
  font-family: "Great Vibes", cursive;
  font-size: 75px;
  font-size: 4.16667rem;
  color: #fff;
  margin: 0;
}

@media (max-width: 1199px) {
  .cta h2 {
    font-size: 60px;
    font-size: 3.33333rem;
  }
}

@media (max-width: 991px) {
  .cta h2 {
    font-size: 50px;
    font-size: 2.77778rem;
  }
}

@media (max-width: 767px) {
  .cta h2 {
    font-size: 40px;
    font-size: 2.22222rem;
  }
}

.cta h2 span {
  font-family: "Dosis", sans-serif;
  font-size: 30px;
  font-size: 1.66667rem;
  display: block;
  margin-bottom: 0.6em;
}

@media (max-width: 1199px) {
  .cta h2 span {
    font-size: 25px;
    font-size: 1.38889rem;
  }
}

@media (max-width: 991px) {
  .cta h2 span {
    font-size: 20px;
    font-size: 1.11111rem;
  }
}

/*--------------------------------------------------------------
#1.0	events-section
--------------------------------------------------------------*/
.events-section .event {
  overflow: hidden;
}

.events-section .event + .event {
  margin-top: 45px;
}

@media (max-width: 991px) {
  .events-section .event + .event {
    border-top: 1px solid #ececec;
    margin-top: 35px;
    padding-top: 45px;
  }
}

.events-section .event .img-holder {
  width: 40%;
  float: left;
}

@media (max-width: 991px) {
  .events-section .event .img-holder {
    width: 100%;
    float: none;
  }
}

.events-section .event .details {
  width: 50%;
  float: left;
  padding-left: 35px;
}

@media (max-width: 991px) {
  .events-section .event .details {
    width: 100%;
    float: none;
    padding-left: 0;
    margin-top: 30px;
  }
}

.events-section .event .details h3 {
  font-size: 20px;
  font-size: 1.11111rem;
  font-weight: 600;
  color: #3e3e3e;
  margin: 0 0 0.9em;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .events-section .event .details h3 {
    font-size: 18px;
    font-size: 1rem;
  }
}

.events-section .event ul {
  margin-bottom: 15px;
}

.events-section .event ul li {
  font-size: 16px;
  font-size: 0.88889rem;
  color: #a9a9a9;
  position: relative;
  padding-left: 22px;
}

@media (max-width: 1199px) {
  .events-section .event ul li {
    font-size: 15px;
    font-size: 0.83333rem;
  }
}

.events-section .event ul li i {
  color: #5e9a8e;
  position: absolute;
  left: 0;
  top: 3px;
}

.events-section .event ul > li + li {
  margin-top: 5px;
}

.events-section .event .see-location-btn {
  font-weight: 600;
  color: #5e9a8e;
  display: inline-block;
  margin-top: 5px;
}

.events-section .event .see-location-btn:hover {
  color: #4b7a71;
}

/*--------------------------------------------------------------
#1.1	inportant-people-section
--------------------------------------------------------------*/
.inportant-people-section {
  background-color: #f9f9f9;
  /*** tablist ***/
  /*** tab-content ***/
}

.inportant-people-section .tablist {
  text-align: center;
  max-height: 45px;
  margin-bottom: 45px;
}

@media (max-width: 767px) {
  .inportant-people-section .tablist {
    margin-bottom: 35px;
  }
}

.inportant-people-section .tablist ul {
  overflow: hidden;
  display: inline-block;
}

.inportant-people-section .tablist ul li {
  float: left;
}

.inportant-people-section .tablist ul li a {
  background: rgba(94, 154, 142, 0.15);
  display: block;
  color: #3e3e3e;
  font-weight: 600;
  padding: 7px 15px;
}

@media (max-width: 767px) {
  .inportant-people-section .tablist ul li a {
    font-size: 14px;
    font-size: 0.77778rem;
  }
}

.inportant-people-section .tablist ul .active a {
  background-color: #5e9a8e;
  color: #fff;
}

.inportant-people-section .tab-content > div {
  overflow: hidden;
}

.inportant-people-section .tab-content .grid-wrapper {
  margin: 0 -15px;
}

@media (max-width: 767px) {
  .inportant-people-section .tab-content .grid-wrapper {
    margin: 0 -7.5px;
  }
}

.inportant-people-section .tab-content .grid {
  width: 33.33%;
  float: left;
  padding: 0 15px 0;
}

@media (max-width: 991px) {
  .inportant-people-section .tab-content .grid {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .inportant-people-section .tab-content .grid {
    padding: 0 7.5px 0;
  }
}

@media (max-width: 550px) {
  .inportant-people-section .tab-content .grid {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .inportant-people-section .tab-content .grid-wrapper > .grid:nth-child(4),
  .inportant-people-section .tab-content .grid-wrapper > .grid:nth-child(5),
  .inportant-people-section .tab-content .grid-wrapper > .grid:nth-child(6) {
    margin-top: 30px;
  }
}

@media (max-width: 991px) {
  .inportant-people-section .tab-content .grid-wrapper > .grid:nth-child(3),
  .inportant-people-section .tab-content .grid-wrapper > .grid:nth-child(4),
  .inportant-people-section .tab-content .grid-wrapper > .grid:nth-child(5),
  .inportant-people-section .tab-content .grid-wrapper > .grid:nth-child(6) {
    margin-top: 30px;
  }
}

@media (max-width: 550px) {
  .inportant-people-section .tab-content .grid-wrapper > .grid:nth-child(3),
  .inportant-people-section .tab-content .grid-wrapper > .grid:nth-child(4),
  .inportant-people-section .tab-content .grid-wrapper > .grid:nth-child(5),
  .inportant-people-section .tab-content .grid-wrapper > .grid:nth-child(6) {
    margin-top: 0;
  }
  .inportant-people-section .tab-content .grid-wrapper > .grid + .grid {
    margin-top: 30px;
  }
}

.inportant-people-section .grid .img-holder {
  overflow: hidden;
}

.inportant-people-section .grid .img-holder img {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-filter: grayscale(50%);
  -moz-filter: grayscale(50%);
  -o-filter: grayscale(50%);
  -ms-filter: grayscale(50%);
  filter: grayscale(50%);
}

.inportant-people-section .grid:hover img {
  -webkit-transform: scale(1.2) rotate(5deg);
  -ms-transform: scale(1.2) rotate(5deg);
  transform: scale(1.2) rotate(5deg);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
  -ms-filter: grayscale(0);
  filter: grayscale(0);
}

.inportant-people-section .grid .details {
  background: #fff;
  border: 1px solid #f3f2f2;
  padding: 30px 15px 25px;
  text-align: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 991px) {
  .inportant-people-section .grid .details {
    padding: 20px 15px 20px;
  }
}

.inportant-people-section .grid:hover .details {
  background-color: rgba(94, 154, 142, 0.05);
}

.inportant-people-section .grid .details h3 {
  font-size: 19px;
  font-size: 1.05556rem;
  font-weight: 600;
  color: #3e3e3e;
  margin: 0 0 0.3em;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .inportant-people-section .grid .details h3 {
    font-size: 18px;
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .inportant-people-section .grid .details h3 {
    font-size: 16px;
    font-size: 0.88889rem;
  }
}

.inportant-people-section .grid .details > span {
  font-size: 16px;
  font-size: 0.88889rem;
  color: #969494;
  text-transform: capitalize;
  display: block;
}

.inportant-people-section .grid .social-links {
  display: inline-block;
  margin-top: 15px;
}

@media (max-width: 991px) {
  .inportant-people-section .grid .social-links {
    margin-top: 10px;
  }
}

.inportant-people-section .grid .social-links > li + li {
  margin-left: 20px;
}

.inportant-people-section .grid .social-links li a {
  font-size: 14px;
  font-size: 0.77778rem;
  color: #7cafa5;
}

@media (max-width: 767px) {
  .inportant-people-section .grid .social-links li a {
    font-size: 13px;
    font-size: 0.72222rem;
  }
}

.inportant-people-section .grid .social-links li a:hover {
  background-color: transparent;
  color: #5e9a8e;
}

/*--------------------------------------------------------------
#1.2	gallery-section
--------------------------------------------------------------*/
.gallery-section {
  /*** filter ***/
}

.gallery-section .gallery-filters {
  text-align: left;
  margin-bottom: 35px;
}

@media (max-width: 767px) {
  .gallery-section .gallery-filters {
    margin-bottom: 30px;
  }
}

.gallery-section .gallery-filters ul {
  overflow: hidden;
}

.gallery-section .gallery-filters ul li {
  float: left;
}

.gallery-section .gallery-filters ul > li + li {
  margin-left: 15px;
}

.gallery-section .gallery-filters ul li a {
  font-weight: bold;
  color: #3e3e3e;
  display: block;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .gallery-section .gallery-filters ul li a {
    font-size: 15px;
    font-size: 0.83333rem;
  }
}

.gallery-section .gallery-filters ul .current {
  color: #5e9a8e;
}

.gallery-section .masonry-gallery {
  margin: 0 -7.5px;
}

@media (max-width: 991px) {
  .gallery-section .masonry-gallery {
    margin: 0 5px;
  }
}

@media (max-width: 500px) {
  .gallery-section .masonry-gallery {
    margin: 0;
  }
}

.gallery-section .masonry-gallery .grid {
  width: 33.33%;
  float: left;
  padding: 0 7.5px 15px;
}

@media (max-width: 991px) {
  .gallery-section .masonry-gallery .grid {
    padding: 0 5px 10px;
  }
}

@media (max-width: 767px) {
  .gallery-section .masonry-gallery .grid {
    width: 50%;
  }
}

@media (max-width: 550px) {
  .gallery-section .masonry-gallery .grid {
    width: 100%;
    float: none;
    padding: 0 0 15px;
  }
}

.gallery-section .grid img {
  -webkit-filter: grayscale(60%);
  -moz-filter: grayscale(60%);
  -o-filter: grayscale(60%);
  -ms-filter: grayscale(60%);
  filter: grayscale(60%);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

@media (max-width: 767px) {
  .gallery-section .grid img {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
    filter: grayscale(0);
  }
}

.gallery-section .grid:hover img {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
  -ms-filter: grayscale(0);
  filter: grayscale(0);
}

.gallery-section .video-play-btn {
  position: relative;
  display: block;
}

.gallery-section .video-play-btn i {
  width: 50px;
  height: 50px;
  line-height: 47px;
  font-size: 20px;
  font-size: 1.11111rem;
  background: rgba(94, 154, 142, 0.9);
  border: 3px solid #5c978b;
  color: #fff;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

.gallery-section .video-play-btn:hover i {
  background: #5e9a8e;
}

/*--------------------------------------------------------------
#1.3	rsvp-section
--------------------------------------------------------------*/
.rsvp-section {
  position: relative;
}

.rsvp-section:after {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.rsvp-section .container {
  position: relative;
  z-index: 10;
}

.rsvp-section .content p {
  color: #fff;
  margin: 0.5em 0 2em;
}

.rsvp-section .form ::-webkit-input-placeholder {
  font-style: 18px;
  font-style: normal;
  color: #2a2a2a;
}

.rsvp-section .form :-moz-placeholder {
  font-style: 18px;
  font-style: normal;
  color: #2a2a2a;
}

.rsvp-section .form ::-moz-placeholder {
  font-style: 18px;
  font-style: normal;
  color: #2a2a2a;
}

.rsvp-section .form :-ms-input-placeholder {
  font-style: 18px;
  font-style: normal;
  color: #2a2a2a;
}

.rsvp-section .form .col {
  margin-bottom: 25px;
}

.rsvp-section .form .submit-btn {
  margin-bottom: 0;
}

.rsvp-section .form input,
.rsvp-section .form select,
.rsvp-section .form textarea {
  background: #e6eceb;
  height: 45px;
  font-size: 16px;
  font-size: 0.88889rem;
  border: 0;
  color: #2a2a2a;
  padding: 6px 15px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

@media (max-width: 991px) {
  .rsvp-section .form input,
  .rsvp-section .form select,
  .rsvp-section .form textarea {
    height: 40px;
    font-size: 15px;
    font-size: 0.83333rem;
  }
}

.rsvp-section .form select {
  color: #2a2a2a;
  background: #e6eceb url(../images/select-icon.png) no-repeat calc(100% - 15px) center;
}

.rsvp-section .form textarea {
  height: 150px;
  padding-top: 15px;
}

.rsvp-section .form .submit-btn {
  text-align: center;
}

.rsvp-section .form .submit-btn button {
  background-color: #5e9a8e;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  font-size: 0.88889rem;
  font-weight: 600;
  color: #fff;
  padding: 0 15px;
  border: 0;
  outline: 0;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 991px) {
  .rsvp-section .form .submit-btn button {
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    font-size: 0.83333rem;
  }
}

.rsvp-section .form .submit-btn button:hover {
  background-color: #4b7a71;
}

.rsvp-section .form .success-error-message {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
#1.4	getting-there-section
--------------------------------------------------------------*/
.getting-there-section {
  background-color: #5e9a8e;
}

.getting-there-section .content h3,
.getting-there-section .content p {
  color: #fff;
}

@media (max-width: 1199px) {
  .getting-there-section .content p {
    font-size: 16px;
    font-size: 0.88889rem;
  }
}

@media (max-width: 767px) {
  .getting-there-section .content p {
    font-size: 15px;
    font-size: 0.83333rem;
  }
}

.getting-there-section .content .col p:last-child {
  margin-bottom: 0;
}

.getting-there-section .content h3 {
  font-size: 25px;
  font-size: 1.38889rem;
  font-weight: 600;
}

.getting-there-section .content h2 {
  font-weight: 600;
  margin: 0 0 0.8em;
  color: #fff;
  text-align: center;
}

.getting-there-section .content .location {
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .getting-there-section .content h3 {
    font-size: 22px;
    font-size: 1.22222rem;
  }

  .getting-there-section .content .location {
    text-align: left;
  }
}

@media (max-width: 767px) {
  .getting-there-section .content h3 {
    font-size: 20px;
    font-size: 1.11111rem;
  }
}

@media screen and (min-width: 992px) {
  .getting-there-section .content > .col:first-child {
    padding-right: 60px;
    text-align: right;
    /* border-right: 1px solid #548a7f; */
  }

  .getting-there-section .content .location {
    text-align: center;
  }
}

@media (max-width: 991px) {
  .getting-there-section .content > .col {
    padding-bottom: 35px;
    margin-bottom: 35px;
    border-bottom: 1px solid #548a7f;
  }
}

@media screen and (min-width: 992px) {
  .getting-there-section .content > .col:last-child {
    padding-left: 60px;
  }
}

/*--------------------------------------------------------------
#1.5	gift-registration-section
--------------------------------------------------------------*/
.gift-registration-section {
  text-align: center;
}

.gift-registration-section .gif-registration-slider {
  margin-top: 55px;
}

@media (max-width: 767px) {
  .gift-registration-section .gif-registration-slider {
    margin-top: 45px;
  }
}

.gift-registration-section .gif-registration-slider .register {
  border: 1px solid #111;
  padding: 20px;
}

.gift-registration-section .gif-registration-slider .register img {
  width: auto;
  max-width: 100%;
}

/*------------------------------------------------------
===== Blog Page =====
------------------------------------------------------*/
/*--------------------------------------------------------------
#2.1    blog-main
--------------------------------------------------------------*/
.blog-main {
  background-color: #fff;
}

.blog-main .post {
  margin-bottom: 70px;
}

.blog-main .entry-date-media {
  position: relative;
}

.blog-main .entry-date {
  background-color: rgba(94, 154, 142, 0.5);
  width: 60px;
  font-size: 30px;
  color: #fff;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

.blog-main .entry-date span {
  background-color: #5e9a8e;
  font-size: 12px;
  font-size: 0.66667rem;
  color: #fff;
  display: block;
  text-transform: uppercase;
}

.blog-main .entry-formet {
  padding: 12px 0;
  border-bottom: 1px solid #efebeb;
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  .blog-main .entry-formet {
    padding: 10px 0;
  }
}

.blog-main .entry-meta a:hover {
  text-decoration: none;
}

.blog-main .entry-meta > div {
  display: inline-block;
  margin-right: 15px;
}

.blog-main .entry-meta a {
  font-size: 16px;
  font-size: 0.88889rem;
  color: #8a8a8a;
}

@media (max-width: 767px) {
  .blog-main .entry-meta a {
    font-size: 14px;
    font-size: 0.77778rem;
  }
}

.blog-main .entry-meta i {
  font-size: 16px;
  font-size: 0.88889rem;
  color: #5e9a8e;
}

@media (max-width: 767px) {
  .blog-main .entry-meta i {
    font-size: 14px;
    font-size: 0.77778rem;
  }
}

.blog-main .entry-title h3 {
  margin: 0 0 0.8em;
}

.blog-main .entry-title h3 a {
  font-size: 22px;
  font-size: 1.22222rem;
  font-weight: 600;
  color: #383838;
  line-height: 1.3em;
}

@media (max-width: 991px) {
  .blog-main .entry-title h3 a {
    font-size: 20px;
    font-size: 1.11111rem;
  }
}

@media (max-width: 767px) {
  .blog-main .entry-title h3 a {
    font-size: 18px;
    font-size: 1rem;
  }
}

.blog-main .entry-title a:hover {
  color: #5e9a8e;
  text-decoration: none;
}

.blog-main .entry-content p {
  margin-bottom: 1.5em;
}

.blog-main .read-more {
  background-color: #7cafa5;
  font-size: 16px;
  font-size: 0.88889rem;
  display: inline-block;
  padding: 5px 20px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

.blog-main .entry-content .read-more:hover {
  text-decoration: none;
  background-color: #4b7a71;
}

.blog-main .media-carousel {
  position: relative;
}

.blog-main .media-carousel .owl-controls {
  margin: 0;
}

.blog-main .media-carousel .owl-controls .owl-prev,
.blog-main .media-carousel .owl-controls .owl-next {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0;
  margin: 0;
  padding: 7px 10px;
  font-size: 16px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.blog-main .media-carousel .owl-controls .owl-prev {
  left: 0;
}

.blog-main .media-carousel .owl-controls .owl-next {
  right: 0;
}

/*--------------------------------------------------------------
	#Blog details page
----------------------------------------------------------------*/
/*--------------------------------------------------------------
#13.0 	blog-details-post
----------------------------------------------------------------*/
.blog-details-content {
  /*** tag social share ***/
  /*** comments area ***/
  /*** comments respond ***/
}

.blog-details-content .entry-content p {
  margin-bottom: 30px;
}

.blog-details-content .entry-content blockquote {
  background-color: #f1f1f1;
  font-style: italic;
  padding: 25px;
  margin-bottom: 35px;
}

@media (max-width: 991px) {
  .blog-details-content .entry-content blockquote {
    font-size: 16px;
    font-style: 0.88889rem;
  }
}

@media (max-width: 767px) {
  .blog-details-content .entry-content blockquote {
    padding: 20px;
  }
}

.blog-details-content .entry-content blockquote p {
  margin-bottom: 0;
  line-height: 1.9em;
}

.blog-details-content .entry-content blockquote > p + p {
  margin-top: 25px;
}

.blog-details-content .tag-social-share {
  border-top: 1px solid #efefef;
  padding: 25px 0;
  overflow: hidden;
}

.blog-details-content .tag-social-share > div {
  display: inline-block;
}

@media (max-width: 767px) {
  .blog-details-content .tag-social-share > div {
    display: block;
  }
}

.blog-details-content .tag-social-share .social-share {
  float: right;
}

@media (max-width: 767px) {
  .blog-details-content .tag-social-share .social-share {
    float: none;
  }
}

.blog-details-content .tag-social-share .tag a {
  font-size: 13px;
  font-size: 0.72222rem;
  color: #767878;
  border: 1px solid #e4e4e4;
  padding: 5px 7px;
  display: inline-block;
  margin: 0 5px 0 0;
}

.blog-details-content .tag-social-share .tag a:hover {
  background-color: #5e9a8e;
  border-color: #5e9a8e;
  color: #fff;
}

.blog-details-content .tag-social-share .social-share {
  overflow: hidden;
}

@media (max-width: 767px) {
  .blog-details-content .tag-social-share .social-share {
    margin-top: 15px;
  }
}

.blog-details-content .tag-social-share .social-share > span {
  font-weight: bold;
  position: relative;
  top: 6px;
  margin-right: 15px;
  display: inline-block;
  float: left;
}

.blog-details-content .tag-social-share .social-share .social-links {
  display: inline-block;
  float: left;
}

.blog-details-content .tag-social-share .social-share .social-links li {
  margin-right: 7px;
}

.blog-details-content .tag-social-share .social-share .social-links li:last-child {
  margin-right: 0;
}

.blog-details-content .tag-social-share .social-share .social-links a {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  font-size: 0.77778rem;
  color: #d2d2d2;
  border: 1px solid #d2d2d2;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.blog-details-content .tag-social-share .social-share .social-links a:hover {
  background-color: #5e9a8e;
  border-color: #5e9a8e;
  color: #fff;
}

.blog-details-content .comments-area {
  margin-top: 65px;
}

@media (max-width: 767px) {
  .blog-details-content .comments-area {
    margin-top: 35px;
  }
}

.blog-details-content .comments-area .comments-title {
  font-size: 22px;
  font-size: 1.22222rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 35px;
}

@media (max-width: 767px) {
  .blog-details-content .comments-area .comments-title {
    font-size: 20px;
    font-size: 1.11111rem;
    margin: 0 0 25px;
  }
}

.blog-details-content .comments-area .comment-list {
  padding-left: 0;
}

.blog-details-content .comments-area .comment-list ol {
  padding-left: 25px;
}

@media (max-width: 767px) {
  .blog-details-content .comments-area .comment-list ol {
    padding-left: 15px;
  }
}

.blog-details-content .comments-area ol {
  list-style-type: none;
}

.blog-details-content .comments-area ol article {
  background-color: #fbfbfb;
  border: 1px solid #f3f3f3;
  padding: 30px 35px;
  margin-bottom: 15px;
}

@media (max-width: 991px) {
  .blog-details-content .comments-area ol article {
    padding: 25px 30px;
  }
}

@media (max-width: 767px) {
  .blog-details-content .comments-area ol article {
    padding: 20px;
  }
}

.blog-details-content .comments-area .comment-author-metadata {
  min-height: 80px;
  position: relative;
  padding: 15px 0 0 90px;
}

@media (max-width: 767px) {
  .blog-details-content .comments-area .comment-author-metadata {
    padding: 0;
  }
}

.blog-details-content .comments-area .comment-author-metadata h4 {
  font-weight: 600;
  margin: 0 0 5px;
}

@media (max-width: 991px) {
  .blog-details-content .comments-area .comment-author-metadata h4 {
    font-size: 14px;
    font-style: 0.77778rem;
  }
}

@media (max-width: 767px) {
  .blog-details-content .comments-area .comment-author-metadata h4 {
    margin: 15px 0 5px;
  }
}

.blog-details-content .comments-area .comment-author-metadata h4 a {
  color: #6e6e6e;
}

.blog-details-content .comments-area .comment-author-metadata .comment-metadata a {
  font-size: 14px;
  font-size: 0.77778rem;
  font-style: italic;
  color: #808080;
}

.blog-details-content .comments-area .comment-author-metadata .avatar {
  position: absolute;
  left: 0;
  top: 0;
}

@media (max-width: 767px) {
  .blog-details-content .comments-area .comment-author-metadata .avatar {
    position: static;
  }
}

.blog-details-content .comments-area .comment-content {
  margin: 15px 0;
}

@media (max-width: 991px) {
  .blog-details-content .comments-area .comment-content {
    margin: 10px 0 15px;
  }
}

@media (max-width: 767px) {
  .blog-details-content .comments-area .comment-content {
    margin: 15px 0;
  }
}

.blog-details-content .comments-area .review a {
  font-size: 16px;
  font-size: 0.88889rem;
  font-weight: 600;
  color: #5e9a8e;
}

.blog-details-content .comments-area .review a:hover {
  color: #375b54;
}

.blog-details-content .comment-respond {
  margin-top: 75px;
}

.blog-details-content .comment-respond > h3 {
  font-size: 22px;
  font-size: 1.22222rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 35px;
}

@media (max-width: 767px) {
  .blog-details-content .comment-respond > h3 {
    font-size: 18px;
    font-size: 1rem;
    margin: 0 0 25px;
  }
}

.blog-details-content .comment-respond .comment-form > .col {
  margin-bottom: 15px;
}

.blog-details-content .comment-respond .comment-form input,
.blog-details-content .comment-respond .comment-form textarea {
  background-color: #f9f9f9;
  font-size: 16px;
  font-size: 0.88889rem;
  border-color: #f1f1f1;
  height: 45px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  padding: 6px 15px;
}

@media (max-width: 767px) {
  .blog-details-content .comment-respond .comment-form input,
  .blog-details-content .comment-respond .comment-form textarea {
    height: 40px;
  }
}

.blog-details-content .comment-respond .comment-form input:focus,
.blog-details-content .comment-respond .comment-form textarea:focus {
  border-color: #ccc;
}

.blog-details-content .comment-respond .comment-form textarea {
  height: 180px;
  padding-top: 15px;
}

@media (max-width: 767px) {
  .blog-details-content .comment-respond .comment-form textarea {
    height: 140px;
  }
}

.blog-details-content .comment-respond .comment-form .submit-btn {
  margin-bottom: 0;
}

.blog-details-content .comment-respond .comment-form .submit-btn button {
  border-radius: 0;
}

/*# sourceMappingURL=style.css.map */